.u-block-a13b-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-a13b-3 {
  position: absolute;
  left: calc(((100% - 1140px) / 2)  + -43px);
  width: 76px;
  height: 76px;
  top: 250px;
  right: auto;
  padding: 0;
}

.u-block-a13b-4 {
  position: absolute;
  width: 76px;
  height: 76px;
  left: auto;
  top: 255px;
  right: calc(((100% - 1140px) / 2)  + 11px);
  padding: 0;
}

@media (max-width: 1199px) {
  .u-block-a13b-3 {
    left: calc(((100% - 940px) / 2)  + -36px);
  }

  .u-block-a13b-4 {
    right: calc(((100% - 940px) / 2)  + 9px);
  }
}

@media (max-width: 991px) {
  .u-block-a13b-3 {
    left: calc(((100% - 720px) / 2)  + -28px);
  }

  .u-block-a13b-4 {
    right: calc(((100% - 720px) / 2)  + 7px);
  }
}

@media (max-width: 767px) {
  .u-block-a13b-3 {
    left: calc(((100% - 540px) / 2)  + -21px);
  }

  .u-block-a13b-4 {
    right: calc(((100% - 540px) / 2)  + 5px);
  }
}

@media (max-width: 575px) {
  .u-block-a13b-3 {
    left: calc(((100% - 340px) / 2)  + -13px);
  }

  .u-block-a13b-4 {
    right: calc(((100% - 340px) / 2)  + 3px);
  }
}

 .u-section-1-1 {
  background-image: url("images/lsp-team.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 570px;
}

.u-section-1-1 .u-text-1 {
  width: 760px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-size: 0.875rem;
  margin: 430px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-1-1 .u-text-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
   .u-section-1-1 {
    background-position: 47.68% 50%;
  }

  .u-section-1-1 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-1-1 .u-text-1 {
    width: auto;
    font-size: 1rem;
    margin: 305px 0 32px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 331px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 0.875rem;
    margin-top: 261px;
    margin-bottom: 31px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 214px;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: 166px;
    margin-bottom: 0;
  }
}

 .u-section-1-2 {
  background-image: url("images/21.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 570px;
}

.u-section-1-2 .u-text-1 {
  width: 760px;
  font-size: 1.25rem;
  margin: 430px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 470px;
  }
}

@media (max-width: 991px) {
   .u-section-1-2 {
    background-position: 47.68% 50%;
  }

  .u-section-1-2 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-1-2 .u-text-1 {
    width: auto;
    font-size: 1rem;
    margin: 305px 0 32px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 331px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 0.75rem;
    margin-top: 261px;
    margin-bottom: 31px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 214px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 0.625rem;
    margin-top: 166px;
    margin-bottom: 0;
  }
}

.u-section-1-1 .u-text-1,
.u-section-1-1 .u-text-1:before,
.u-section-1-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1-1 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1-1 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  min-height: 723px;
}

.u-section-2 .u-text-1 {
  background-image: none;
  width: 760px;
  font-size: 1.875rem;
  text-transform: none;
  margin: 31px auto 0;
}

.u-section-2 .u-icon-1 {
  vertical-align: 0px;
}

.u-section-2 .u-line-1 {
  width: 250px;
  height: 0;
  transform-origin: center top 0px;
  margin: 22px auto 0;
}

.u-section-2 .u-tabs-1 {
  min-height: 583px;
  width: 1140px;
  margin: 22px auto 31px;
}

.u-section-2 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-2 .u-tab-pane-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 25px 0;
}

.u-section-2 .u-image-1 {
  width: 352px;
  height: 481px;
  object-position: 23.67% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  font-size: 1rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -481px 16px 0 367px;
}

.u-section-2 .u-image-2 {
  width: 230px;
  height: 140px;
  --animation-custom_in-scale: 0.3;
  margin: 15px 298px 0 auto;
}

.u-section-2 .u-tab-pane-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 29px 30px;
}

.u-section-2 .u-text-3 {
  line-height: 1.8;
  font-size: 1rem;
  margin: 1px 0 0;
}

.u-section-2 .u-text-4 {
  line-height: 1.8;
  font-size: 1rem;
  margin: 0;
}

.u-section-2 .u-text-5 {
  line-height: 1.8;
  font-size: 1rem;
  margin: 9px 0 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 761px;
  }

  .u-section-2 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-2 .u-tabs-1 {
    min-height: 613px;
    width: 940px;
    height: auto;
    margin-bottom: 37px;
  }

  .u-section-2 .u-tab-link-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-tab-link-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 22px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 32px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -497px;
    margin-right: 29px;
  }

  .u-section-2 .u-image-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    margin-right: 203px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
    width: 720px;
  }

  .u-section-2 .u-tabs-1 {
    width: 720px;
  }

  .u-section-2 .u-tab-link-1 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-tab-link-2 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 0;
    margin-left: 176px;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1.125rem;
    width: 540px;
  }

  .u-section-2 .u-tabs-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.75rem;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1rem;
    width: 340px;
  }

  .u-section-2 .u-tabs-1 {
    width: 340px;
  }

  .u-section-2 .u-tab-link-1 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-tab-link-2 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 12px;
    padding-right: 12px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 465px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.625rem;
  }

  .u-section-2 .u-image-2 {
    margin-right: 110px;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.625rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 413px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 413px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 42px 35px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  letter-spacing: normal;
  font-family: Lato, sans-serif;
  font-weight: 700;
  text-transform: none;
  margin: 2px 0 0;
}

.u-section-3 .u-btn-1 {
  letter-spacing: 1px;
  font-size: 1.125rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 71px auto 0 0;
}

.u-section-3 .u-icon-1 {
  vertical-align: 0px;
}

.u-section-3 .u-image-1 {
  min-height: 413px;
  background-image: url("images/6a652440b0664d0b0542ad8961d804986db62aa7c5f89e258ae977e61e6f312b4b8feda57cd01a13aac626e5d8180e29f8241f6d8e4c931857f828_1280.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 359px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 316px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.125rem;
  }

  .u-section-3 .u-image-1 {
    min-height: 362px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 243px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.5rem;
    margin-top: 15px;
  }

  .u-section-3 .u-image-1 {
    background-position: 33.42% 50%;
    min-height: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 371px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 50px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 2px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-3 .u-image-1 {
    min-height: 367px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 350px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 1px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 61px;
  }

  .u-section-3 .u-image-1 {
    min-height: 231px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 706px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  width: 760px;
  text-transform: none;
  margin: 55px auto 0;
}

.u-section-4 .u-icon-1 {
  vertical-align: 0px;
}

.u-section-4 .u-line-1 {
  width: 250px;
  height: 0;
  border-style: solid;
  margin: 20px auto 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 20px;
  margin-bottom: 55px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  grid-gap: 20px 20px;
  min-height: 520px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  height: 274px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 100%;
  transition-duration: 0.5s;
  background-image: url("images/ffff.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-text-2 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-transform: none;
  margin: 29px auto 0;
}

.u-section-4 .u-text-3 {
  font-size: 0.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 300px;
  margin: 31px 18px 0;
}

.u-section-4 .u-text-4 {
  font-weight: 400;
  margin: 20px 18px 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-4 .u-icon-2 {
  font-size: 1.4em;
  vertical-align: -2px;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-2 {
  height: 274px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 100%;
  transition-duration: 0.5s;
  background-image: url("images/ffff.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-text-5 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-transform: none;
  margin: 29px auto 0;
}

.u-section-4 .u-text-6 {
  font-size: 0.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 300px;
  margin: 31px 18px 0;
}

.u-section-4 .u-text-7 {
  font-weight: 400;
  margin: 20px 18px 0;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-4 .u-icon-3 {
  font-size: 1.4em;
  vertical-align: -2px;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-image-3 {
  height: 274px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 100%;
  transition-duration: 0.5s;
  background-image: url("images/ffff.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-text-8 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-transform: none;
  margin: 29px auto 0;
}

.u-section-4 .u-text-9 {
  font-size: 0.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 300px;
  margin: 31px 18px 0;
}

.u-section-4 .u-text-10 {
  font-weight: 400;
  margin: 20px 18px 0;
}

.u-section-4 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-4 .u-icon-4 {
  font-size: 1.4em;
  vertical-align: -2px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-4 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-4 .u-list-1 {
    margin-top: 26px;
    margin-bottom: 34px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 456px;
  }

  .u-section-4 .u-image-1 {
    height: 226px;
    margin-top: -4px;
    transform: scale(1.01);
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 27px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 11px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 26px;
    padding: 0 9px 1px 8px;
  }

  .u-section-4 .u-image-2 {
    height: 226px;
    margin-top: -4px;
    transform: scale(1.01);
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 27px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 11px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 26px;
    padding: 0 9px 1px 8px;
  }

  .u-section-4 .u-image-3 {
    height: 226px;
    margin-top: -4px;
    transform: scale(1.01);
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: 27px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-top: 11px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 26px;
    padding: 0 9px 1px 8px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    font-size: 1.25rem;
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 9.99997px) calc(50% - 9.99997px);
    min-height: 1049px;
  }

  .u-section-4 .u-image-1 {
    height: 260px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 21px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 34px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 64px;
    margin-right: 95px;
  }

  .u-section-4 .u-image-2 {
    height: 260px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 21px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 34px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 64px;
    margin-right: 95px;
  }

  .u-section-4 .u-image-3 {
    height: 260px;
  }

  .u-section-4 .u-text-8 {
    margin-top: 21px;
  }

  .u-section-4 .u-text-9 {
    margin-top: 34px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 64px;
    margin-right: 95px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1010px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.125rem;
    width: 540px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 38px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    min-height: 830px;
  }

  .u-section-4 .u-image-1 {
    height: 231px;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 31px;
  }

  .u-section-4 .u-text-3 {
    font-size: 0.625rem;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-4 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-4 .u-image-2 {
    height: 231px;
  }

  .u-section-4 .u-text-5 {
    font-size: 0.875rem;
    margin-top: 31px;
  }

  .u-section-4 .u-text-6 {
    font-size: 0.625rem;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-4 .u-btn-2 {
    font-size: 0.75rem;
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-4 .u-image-3 {
    height: 231px;
  }

  .u-section-4 .u-text-8 {
    font-size: 0.875rem;
    margin-top: 31px;
  }

  .u-section-4 .u-text-9 {
    font-size: 0.625rem;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-4 .u-btn-3 {
    font-size: 0.75rem;
    margin-top: 20px;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1rem;
    width: 340px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-image-1 {
    height: 242px;
    width: 343px;
    margin-top: -2px;
    margin-left: -2px;
    margin-right: -2px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 35px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 16px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 23px;
  }

  .u-section-4 .u-image-2 {
    height: 242px;
    width: 343px;
    margin-top: -2px;
    margin-left: -2px;
    margin-right: -2px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 35px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 16px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 23px;
  }

  .u-section-4 .u-image-3 {
    height: 242px;
    width: 343px;
    margin-top: -2px;
    margin-left: -2px;
    margin-right: -2px;
  }

  .u-section-4 .u-text-8 {
    margin-top: 35px;
  }

  .u-section-4 .u-text-9 {
    margin-top: 16px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 23px;
  }
}

.u-section-4 .u-image-1,
.u-section-4 .u-image-1:before,
.u-section-4 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-image-1.u-image-1.u-image-1:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #a3a398 !important;
}

.u-section-4 .u-image-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-4 .u-image-1.u-image-1.u-image-1.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #a3a398 !important;
}

.u-section-4 .u-image-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-4 .u-image-2,
.u-section-4 .u-image-2:before,
.u-section-4 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-image-2.u-image-2.u-image-2:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #a3a398 !important;
}

.u-section-4 .u-image-2 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-4 .u-image-2.u-image-2.u-image-2.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #a3a398 !important;
}

.u-section-4 .u-image-2 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-4 .u-image-3,
.u-section-4 .u-image-3:before,
.u-section-4 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-image-3.u-image-3.u-image-3:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #a3a398 !important;
}

.u-section-4 .u-image-3 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-4 .u-image-3.u-image-3.u-image-3.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #a3a398 !important;
}

.u-section-4 .u-image-3 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-block-cd5e-139:not([data-block-selected]):not([data-cell-selected]),
.u-block-cd5e-139:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-cd5e-139:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-cd5e-139:not([data-block-selected]):not([data-cell-selected]).u-block-cd5e-139:not([data-block-selected]):not([data-cell-selected]).u-block-cd5e-139:not([data-block-selected]):not([data-cell-selected]):hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #a3a398 !important;
}

.u-block-cd5e-139:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-block-cd5e-139.u-block-cd5e-139.u-block-cd5e-139.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #a3a398 !important;
}

.u-block-cd5e-139 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
} .u-section-5 {
  min-height: 508px;
}

.u-section-5 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  min-height: 508px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 1.875rem;
  text-transform: none;
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-icon-1 {
  vertical-align: 0px;
}

.u-section-5 .u-line-1 {
  width: 250px;
  height: 0;
  margin: 23px auto 0;
}

.u-section-5 .u-list-1 {
  width: 1140px;
  margin: 23px auto 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
  min-height: 363px;
  grid-gap: 30px 30px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 300px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 11px 19px;
}

.u-section-5 .u-image-1 {
  height: 267px;
  transition-duration: 0.5s;
  margin: 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 14px 16px 0 22px;
}

.u-section-5 .u-text-3 {
  text-transform: none;
  font-size: 0.875rem;
  font-weight: bold;
  margin: 10px 0 0 22px;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 300px;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 11px 19px;
}

.u-section-5 .u-image-2 {
  height: 267px;
  transition-duration: 0.5s;
  margin: 0;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 14px 16px 0 22px;
}

.u-section-5 .u-text-5 {
  text-transform: none;
  font-size: 0.875rem;
  font-weight: bold;
  margin: 10px 0 0 22px;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 300px;
}

.u-section-5 .u-container-layout-4 {
  padding: 0 11px 19px;
}

.u-section-5 .u-image-3 {
  height: 267px;
  transition-duration: 0.5s;
  margin: 0;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 14px 16px 0 22px;
}

.u-section-5 .u-text-7 {
  text-transform: none;
  font-size: 0.875rem;
  font-weight: bold;
  margin: 10px 0 0 22px;
}

.u-section-5 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 300px;
}

.u-section-5 .u-container-layout-5 {
  padding: 0 11px 19px;
}

.u-section-5 .u-image-4 {
  height: 267px;
  transition-duration: 0.5s;
  margin: 0;
}

.u-section-5 .u-text-8 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 14px 16px 0 22px;
}

.u-section-5 .u-text-9 {
  text-transform: none;
  font-size: 0.875rem;
  font-weight: bold;
  margin: 10px 0 0 22px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 470px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -19px;
    min-height: 490px;
  }

  .u-section-5 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-5 .u-list-1 {
    width: 880px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 299px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-image-1 {
    height: 219px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-image-2 {
    height: 219px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-5 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-image-3 {
    height: 219px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-5 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-image-4 {
    height: 219px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-5 .u-text-9 {
    margin-left: 0;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 850px;
  }

  .u-section-5 .u-group-1 {
    margin-bottom: 1px;
    min-height: 868px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-5 .u-list-1 {
    width: 660px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
    min-height: 723px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 15px;
  }

  .u-section-5 .u-image-1 {
    height: 238px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-2 {
    margin-right: 11px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 11px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 15px;
  }

  .u-section-5 .u-image-2 {
    height: 238px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-4 {
    margin-right: 11px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 11px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 15px;
  }

  .u-section-5 .u-image-3 {
    height: 238px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-6 {
    margin-right: 11px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 11px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 15px;
  }

  .u-section-5 .u-image-4 {
    height: 238px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-8 {
    margin-right: 11px;
  }

  .u-section-5 .u-text-9 {
    margin-right: 11px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 100vh;
  }

  .u-section-5 .u-group-1 {
    margin-bottom: 0;
    min-height: 814px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-list-1 {
    width: 520px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 667px;
  }

  .u-section-5 .u-image-1 {
    height: 234px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-2 {
    font-size: 0.75rem;
    margin-left: 60px;
    margin-right: 60px;
  }

  .u-section-5 .u-text-3 {
    font-size: 0.75rem;
    margin-left: 60px;
    margin-right: 60px;
  }

  .u-section-5 .u-image-2 {
    height: 234px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-4 {
    font-size: 0.75rem;
    margin-left: 60px;
    margin-right: 60px;
  }

  .u-section-5 .u-text-5 {
    font-size: 0.75rem;
    margin-left: 60px;
    margin-right: 60px;
  }

  .u-section-5 .u-image-3 {
    height: 234px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-6 {
    font-size: 0.75rem;
    margin-left: 60px;
    margin-right: 60px;
  }

  .u-section-5 .u-text-7 {
    font-size: 0.75rem;
    margin-left: 60px;
    margin-right: 60px;
  }

  .u-section-5 .u-image-4 {
    height: 234px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-8 {
    font-size: 0.75rem;
    margin-left: 60px;
    margin-right: 60px;
  }

  .u-section-5 .u-text-9 {
    font-size: 0.75rem;
    margin-left: 60px;
    margin-right: 60px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 1825px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -24px;
    margin-bottom: 6px;
    min-height: 1844px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-5 .u-list-1 {
    width: 320px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .u-section-5 .u-image-1 {
    height: 296px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-top: 37px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .u-section-5 .u-image-2 {
    height: 296px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    margin-top: 37px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-4 {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .u-section-5 .u-image-3 {
    height: 296px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-7 {
    margin-top: 37px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-5 {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .u-section-5 .u-image-4 {
    height: 296px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-9 {
    margin-top: 37px;
    margin-left: 0;
    margin-right: 0;
  }
}

.u-section-5 .u-image-1,
.u-section-5 .u-image-1:before,
.u-section-5 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #db545a !important;
}

.u-section-5 .u-image-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-5 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #db545a !important;
}

.u-section-5 .u-image-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-5 .u-container-layout:hover .u-image-1 {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-5 .u-image-1 {
  opacity: 1 !important;
}

.u-section-5 .u-image-2,
.u-section-5 .u-image-2:before,
.u-section-5 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-image-2.u-image-2.u-image-2:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #db545a !important;
}

.u-section-5 .u-image-2 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-5 .u-image-2.u-image-2.u-image-2.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #db545a !important;
}

.u-section-5 .u-image-2 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-5 .u-container-layout:hover .u-image-2 {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-5 .u-image-2 {
  opacity: 1 !important;
}

.u-section-5 .u-image-3,
.u-section-5 .u-image-3:before,
.u-section-5 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-image-3.u-image-3.u-image-3:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #db545a !important;
}

.u-section-5 .u-image-3 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-5 .u-image-3.u-image-3.u-image-3.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #db545a !important;
}

.u-section-5 .u-image-3 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-5 .u-container-layout:hover .u-image-3 {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-5 .u-image-3 {
  opacity: 1 !important;
}

.u-section-5 .u-image-4,
.u-section-5 .u-image-4:before,
.u-section-5 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-image-4.u-image-4.u-image-4:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #db545a !important;
}

.u-section-5 .u-image-4 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-5 .u-image-4.u-image-4.u-image-4.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #db545a !important;
}

.u-section-5 .u-image-4 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-5 .u-container-layout:hover .u-image-4 {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-5 .u-image-4 {
  opacity: 1 !important;
} .u-section-6 {
  background-image: none;
  min-height: 304px;
}

.u-section-6 .u-text-1 {
  font-size: 1.875rem;
  width: 751px;
  text-transform: none;
  margin: 29px auto 0;
}

.u-section-6 .u-icon-1 {
  vertical-align: 0px;
}

.u-section-6 .u-line-1 {
  width: 250px;
  transform-origin: left center 0px;
  height: 3px;
  margin: 16px auto 0;
}

.u-section-6 .u-list-1 {
  width: 1140px;
  margin: 16px auto 30px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 177px;
  grid-gap: 10px 10px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 7px;
}

.u-section-6 .u-icon-2 {
  height: 144px;
  width: 142px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
  padding: 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 0 7px;
}

.u-section-6 .u-icon-3 {
  height: 144px;
  width: 142px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
  padding: 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 0 7px;
}

.u-section-6 .u-icon-4 {
  height: 144px;
  width: 142px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
  padding: 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 0 7px;
}

.u-section-6 .u-icon-5 {
  height: 144px;
  width: 142px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-6 .u-line-1 {
    height: 0;
  }

  .u-section-6 .u-list-1 {
    width: 940px;
    margin-top: 29px;
    margin-bottom: 36px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 146px;
  }

  .u-section-6 .u-icon-3 {
    color: rgb(219, 84, 90) !important;
  }

  .u-section-6 .u-icon-4 {
    color: rgb(219, 84, 90) !important;
  }

  .u-section-6 .u-icon-5 {
    color: rgb(219, 84, 90) !important;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 433px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 16px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-6 .u-list-1 {
    width: 720px;
    margin-top: 16px;
    margin-bottom: 59px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    font-size: 1.125rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-list-1 {
    width: 540px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-6 .u-list-1 {
    width: 340px;
  }
}